
.chooseChartsButton {
  background: var(--theme-background-secondary);
  border-radius: 8px;
  border: 1px solid var(--theme-background-secondary);
  font: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: var(--theme-text-secondary);
  padding: 12px 16px 12px 12px;
}

.chooseChartsButton:hover {
  border-color: var(--theme-color-primary);
}

.chooseChartsButtonCounter {
  background: rgba(78, 163, 148, 0.16);
  border-radius: 4px;
  width: 24px;
  height: 24px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: var(--theme-color-primary);
  margin-right: 8px;
}

.modal {
  max-width: 894px;
  width: 100%;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--theme-text-primary);
  margin: 0;
}

.subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--theme-text-secondary);
  margin: 8px 0 0;
}

.grid {
  margin: 32px 0;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.itemWrap {
  position: relative;
}

.itemInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
  visibility: hidden !important;
  opacity: 0 !important;
}

.itemInner {
  background: #fff;
  border: 1px solid #E0E5EA;
  border-radius: 8px;
  position: relative;
  display: flex;
  padding: 16px;
}

.itemLabel {
  align-self: center;
  cursor: pointer;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: 1px solid #E0E5EA;
  border-radius: 8px;
}

.itemTitles {
  margin-left: 16px;
  margin-bottom: 8px;
}

.itemTitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #040505;
}

.itemSubtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #576C7E;
  display: flex;
  align-items: center;
}

.itemTitle + .itemSubtitle {
  margin-top: 4px;
}

.itemSubtitleSeparator {
  background: #98A9B8;
  border-radius: 100px;
  width: 4px;
  height: 4px;
  margin: 0 8px;
}

.itemDetailsButton {
  font: inherit;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #4EA394;
  background: transparent;
  border: 0;
  padding: 0;
}

.itemInput:checked ~ .itemInner {
  border-color: #4EA394;
  background: rgba(78, 163, 148, 0.08);
}

.itemInput:checked ~ .itemInner .itemLabel {
  border-color: #4EA394;
}

.itemInput:checked ~ .itemInner .itemLabel::after {
  content: '';
  width: 16px;
  height: 16px;
  display: block;
  background: #4EA394;
  border-radius: 4px;
  pointer-events: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #040505;
  margin-top: 32px;
}

.backButton {
  font: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  background: transparent;
  border: 0;
  color: #98A9B8;
  display: inline-flex;
  align-items: center;
}

.backButton span {
  color: #576C7E;
  margin-left: 8px;
}

.backButton:hover {
  color: #576C7E;
}
