.wrap {
  position: relative;
  min-width: 360px;
}

.iconCalendar,
.iconArrow {
  color: var(--theme-icon-color);
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.iconCalendar {
  left: 24px;
}

.iconArrow {
  right: 24px;
  transform-origin: center;
}

.iconArrow.rotate {
  transform: translateY(-50%) rotate(180deg);
  color: var(--theme-text-primary);
}

.button {
  appearance: none;
  display: block;
  width: 100%;
  padding: 24px 65px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  font-family: inherit;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: var(--theme-text-primary);
  border: var(--theme-input-border);
  background: var(--theme-input-bg);
  border-radius: 8px;
  outline: none;
}

.button::placeholder {
  color: var(--theme-input-placeholder-color);
}

.button.active,
.button:active,
.button:focus {
  border: var(--theme-input-border-active);
}

.dateSeparator {
  color: var(--theme-icon-color);
  margin: 0 8px;
}

.datePickerWrap {
  display: none;
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  background-color: var(--theme-background-secondary);
  border-radius: 8px;
  z-index: 2;
  box-shadow: 0 32px 64px rgba(4, 5, 5, 0.08);
}

.datePickerWrap.active {
  display: block;
}

.calendarsWrap {
  display: flex;
}

.calendarsWrap  > div {
  display: inline-flex;
  flex-direction: column;
}

.footer {
  background: rgba(var(--rgb-solitude-dark), 0.32);
  padding: 16px 24px;
  display: flex;
}

.wrap .reactDatepicker {
  font-family: inherit;
  color: var(--theme-text-secondary);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
  border: 0;
  position: relative;
  margin: 24px;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
}

.wrap :global(.react-datepicker__month-container) {
  float: none;
  display: inline-flex;
  flex-direction: column;
}

.reactDatepicker :global(.react-datepicker__header) {
  background: transparent;
  border: 0;
}

.reactDatepicker :global(.react-datepicker__current-month) {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
  color: var(--theme-text-secondary);
  margin-bottom: 16px;
}

.reactDatepicker :global(.react-datepicker__day) {
  color: var(--theme-text-secondary);
  border-radius: 8px;
  width: 32px;
  height: 32px;
  text-align: center;
  margin: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 32px;
  position: relative;
}

.reactDatepicker :global(.react-datepicker__day--in-range) {
  background: rgba(var(--rgb-solitude-dark), 0.32);
  color: var(--theme-input-placeholder-color);
  border-radius: 0;
  width: 40px;
  height: 32px;
  line-height: 32px;
  margin: 4px 0;
}

.reactDatepicker :global(.react-datepicker__day--in-selecting-range) {
  background: rgba(var(--theme-color-primary-rgb), 0.12) !important;
  color: var(--theme-color-primary) !important;
}

.reactDatepicker :global(.react-datepicker__day--selected),
.reactDatepicker :global(.react-datepicker__day--selecting-range-start),
.reactDatepicker :global(.react-datepicker__day--selecting-range-end),
.reactDatepicker :global(.react-datepicker__day--keyboard-selected) {
  background: var(--theme-color-primary) !important;
  color: var(--theme-text-primary-inverted) !important;
  border-radius: 8px !important;
  width: 32px;
  height: 32px;
  line-height: 32px;
  margin: 4px;
}

.reactDatepicker :global(.react-datepicker__day--selected.react-datepicker__day--selecting-range-start)::after,
.reactDatepicker :global(.react-datepicker__day--selected.react-datepicker__day--selecting-range-end)::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 12px;
  background: rgba(var(--theme-color-primary-rgb), 0.12);
  z-index: 0;
}

.reactDatepicker :global(.react-datepicker__day--selecting-range-start)::after {
  right: -4px;
}

.reactDatepicker :global(.react-datepicker__day--selecting-range-end)::before {
  left: -4px;
}

.reactDatepicker :global(.react-datepicker__day--disabled) {
  opacity: 0.2;
}

.timeControlsWrap {
  display: flex;
  align-items: center;
  padding-top: 16px;
  margin-top: auto;
}

.timeWrap {
  display: inline-flex;
  align-items: center;
}

.timeInput {
  font-family: inherit;
  background: var(--theme-background-secondary);
  border: 1px solid var(--theme-border-color);
  box-sizing: border-box;
  border-radius: 8px;
  width: 64px;
  padding: 8px 12px;
  outline: none;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: var(--theme-text-primary);
}

.timeInput::placeholder {
  color: var(--theme-input-placeholder-color);
}

.timeInput:focus,
.timeInput:active {
  border-color: var(--theme-color-primary);
}

.timeInput:invalid {
  border-color: red;
}

.timeSeparator {
  display: inline-flex;
  margin: 0 4px;
  color: var(--theme-text-secondary);
}

.timeSeparator::before {
  content: ':';
}

.ampmWrap {
  display: inline-flex;
  margin-left: 12px;
}

.amLabel,
.pmLabel {
  position: relative;
}

.amLabel input,
.pmLabel input {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}

.amLabel div,
.pmLabel div {
  background: var(--theme-background-secondary);
  border: 1px solid var(--theme-border-color);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  padding: 8px;
  color: var(--theme-text-secondary);
  cursor: pointer;
}

.amLabel input:checked ~ div,
.pmLabel input:checked ~ div {
  border-color: var(--theme-color-primary);
  color: var(--theme-text-primary-inverted);
  background: var(--theme-color-primary);
  cursor: default;
}

.amLabel div {
  border-radius: 8px 0 0 8px;

}

.pmLabel div{
  border-radius: 0 8px 8px 0;

}

.selectedDate {
  display: inline-flex;
  flex-direction: column;
  margin-right: 40px;
}

.selectedDate:last-child {
  margin-right: 0;
}

.selectedDateTitle {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--theme-text-secondary);
  margin-bottom: 4px;
}

.selectedDateValue {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: var(--theme-text-primary);
}

.buttonsWarp {
  margin-left: auto;
}

.clearButton,
.applyButton {
  border-radius: 8px;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  padding: 12px 24px;
  border: 1px solid transparent;
  background: transparent;
  margin-left: 24px;
}

.clearButton {
  border: 1px solid var(--theme-border-color);
  color: var(--theme-text-secondary);
}

.applyButton {
  color: var(--theme-text-primary-inverted);
  background: var(--theme-color-primary);
  border-color: var(--theme-color-primary);
}

.rangeWrap {
  padding: 8px;
  border-left: 1px solid var(--theme-background-primary);
}

.rangeButton {
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: var(--theme-input-placeholder-color);
  margin: 0;
  white-space: nowrap;
  background: transparent;
  border: 0;
  text-align: left;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
}

.rangeButton.custom {
  margin-top: auto;
}

.rangeButton.active {
  color: var(--theme-text-primary);
}

.rangeButton:hover {
  background: rgba(var(--rgb-solitude-dark), 0.32);
  color: var(--theme-text-primary);
}
